###############################################
# GERAL
###############################################
*.log
*.tmp
*.temp
*.bak
*.old
*.swp
*.swo
*.DS_Store
Thumbs.db

###############################################
# PYTHON
###############################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
ENV/
build/
dist/

###############################################
# NODE / JAVASCRIPT
###############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

###############################################
# JAVA
###############################################
target/
*.class
*.jar
*.war
*.ear

###############################################
# VISUAL STUDIO / .NET
###############################################
.vs/
*.user
*.suo
bin/
obj/

###############################################
# RASA
###############################################
models/
results/
*.db

###############################################
# DRAW.IO
###############################################
*.drawio.bkp

###############################################
# WINDOWS BATCH
###############################################
*.bat~
